<h1>How to get a hold of me</h1>
<p>Please feel free to send me and email or give me a call regarding any questions or opportunities. Thanks!</p>
<div id="conts">
	<h3>Phone</h3>
	<h4>480.202.9489</h4>
	<h3>Email</h3>
	<h4>dmcoley948562@gmail.com</h4>
	<h3>LinkedIn</h3>
	<a href="">Daniel Coley's LinkedIn profile</a>
</div>
