<div id="about">	
	<img id="danpic" src="/assets/Dan_Coley_pic.jpg">
	<div id="me" class="row">
	<h1>Who is Dan?</h1>
	<p>Hello! I hope you have enjoyed my site so far. Allow me to introduce myself officially, my name is Daniel Coley and I am a full stack ruby rails developer. As you can see by this website I love to mix things up and add fun to my work. I constantly stretch my mind and push my limits to improve. I get work done of course, but don't worry I know how to have a good time as well. Some achievements of note are that I am completeing a program in development through Bottega, I am a part time imventor/tinkerer, and a Super Smash Champion. please continue to check out my site and contact me with any questions. Thank you! </p>
	</div>
</div>
