<h1>Projects</h1>
<p>Welcome to my projects page! Each of these projects displays my proficiency in different languages and styles. Follow the links at the end of the descriptions to see my code.</p>

<h3>Thelordoftherails.tech</h3>
<p>The site you are on right now! This is my rails project that use for my portfolio. Over time I will also add a video page where I can explain rails principles and people can ask questions. This site shows my proficiency in ruby, rails, html, and css.</p><a href="">See the code</a>

<h3>Overtime</h3>
<p>This app was a school project where we created a website that could allow salaried employees to track their overtime. The app doesn't just store the data but also allows Administrator access to approve or deny the overtime. Employees are notified through SMS to record their hours.</p><a href="">See the code</a>

<h3>Tesla Clone</h3>
<p>This is simply a clone of teslas homepage to showcase my knowledge of html and css. It is important to not only have the mind to create ideas from scratch but to replicate the ideas of others. In this project I matched fonts backgrounds and even effects on the site.</p><a href="">See the code</a>

<h3>Ruby Challenges</h3>
<p>Everyday I am faced with a prompt and have the opportunity to stretch my knowledge of ruby concepts. These are challenges from altering given data to creating a program from the ground up. These challenges are important to me because if forces me to think outside the box and invent new ways to solve issues.</p><a href="">See the code</a>